@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
body, h1, h2, h3, h4, h5, p, ul, li, form {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #eee;
}
