body, h1, h2, h3, h4, h5, p, ul, li, form{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}
ul, ol{
  list-style: none;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.to-left{
  float: left;
}
.to-right{
  float: right;
}
.game-wrapper{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 600px;
  margin-left: 20px;
}
.play-button{
  position: absolute;
  box-sizing: border-box;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid #49ade9;
  cursor: pointer;
  font-size: 20px;
  &:hover{
    background-color: #49ade9;
    color: white;
  }
}

canvas{
  display: block;
  margin: 0 auto;
  background-color: #eee;
}
.canvas-image{
  display: none;
}
.text-container{
  padding: 20px 0;
  font-size: 30px;
}
.letters-container{
  margin-top: 30px;
  font-size: 0;
}
.letter{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    border-color: #49ade9;
  }
  &.disabled{
    color: grey;
    background: #eee;
    &:hover{
      border-color: #eee;
      cursor: default;
    }
  }
}
.image-container{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-top: 75px;
  img{
    width: 100%;
  }
}
